<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width = device - width , initial-scale=1">
	<meta http-equiv="x-ua-compatible">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
	<h1>Busqueda de Vehiculo</h1>

	<div class="container center-text">
		<div th:if=${param.exito}>
			<div class="alert alert-info">Reserva registrada exitosamente</div>
		</div>
		<div th:if=${param.fallo}>
			<div class="alert alert-danger">Vehiculo no disponible en las fechas seleccionadas</div>
		</div>
		<div>
			<form th:action="@{/clientes/disponibles}" th:object="${reservarVehiculoTO}" method="post">
				<table class="table table-dark table-striped">
					<tr>
						<td><label>Placa :</label></td>
						<td><input type="text" id="placa" th:field="*{placa}">
						</td>
					</tr>
					<tr>
						<td><label>Cedula :</label></td>
						<td><input type="text" id="cedula" th:field="*{cedula}">
						</td>
					</tr>

					<tr>
						<td><label>Fecha Inicio :</label></td>
						<td><input type="datetime-local" id="fechaInicio" th:field="*{fechaInicio}"></td>
					</tr>
					<tr>
						<td><label>Fecha Fin :</label></td>
						<td><input type="datetime-local" id="fechaFinal" th:field="*{fechaFinal}"></td>
					</tr>



				</table>

				<input type="submit" value="buscar">
			</form>
		</div>
	</div>
</body>

</html>